<h3>IMPORT LIBRARIES</h3>

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')

<h3>IMPORT DATASET</h3>

In [2]:
bank=pd.read_csv("C:/Users/HP/Documents/bank.csv",sep=";")
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

<h3>CHECK DATAFRAME</h3>

In [3]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

<h3>MISSING VALUES</h3>

In [4]:
bank.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

<h3>LABEL ENCODING</h3>

In [5]:
label_encoder = preprocessing.LabelEncoder()

In [6]:
bank['job']= label_encoder.fit_transform(bank['job'])
label_encoder.classes_

array(['admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management',
       'retired', 'self-employed', 'services', 'student', 'technician',
       'unemployed', 'unknown'], dtype=object)

In [7]:
bank['marital']= label_encoder.fit_transform(bank['marital'])
label_encoder.classes_

array(['divorced', 'married', 'single', 'unknown'], dtype=object)

In [8]:
bank['education']= label_encoder.fit_transform(bank['education'])
label_encoder.classes_

array(['basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate',
       'professional.course', 'university.degree', 'unknown'],
      dtype=object)

In [9]:
bank['default']= label_encoder.fit_transform(bank['default'])
label_encoder.classes_

array(['no', 'unknown', 'yes'], dtype=object)

In [10]:
bank['housing']= label_encoder.fit_transform(bank['housing'])
label_encoder.classes_

array(['no', 'unknown', 'yes'], dtype=object)

In [11]:
bank['loan']= label_encoder.fit_transform(bank['loan'])
label_encoder.classes_

array(['no', 'unknown', 'yes'], dtype=object)

In [12]:
bank['contact']= label_encoder.fit_transform(bank['contact'])
label_encoder.classes_

array(['cellular', 'telephone'], dtype=object)

In [13]:
bank['month']= label_encoder.fit_transform(bank['month'])
label_encoder.classes_

array(['apr', 'aug', 'dec', 'jul', 'jun', 'mar', 'may', 'nov', 'oct',
       'sep'], dtype=object)

In [14]:
bank['day_of_week']= label_encoder.fit_transform(bank['day_of_week'])
label_encoder.classes_

array(['fri', 'mon', 'thu', 'tue', 'wed'], dtype=object)

In [15]:
bank['poutcome']= label_encoder.fit_transform(bank['poutcome'])
label_encoder.classes_

array(['failure', 'nonexistent', 'success'], dtype=object)

In [16]:
bank['y']= label_encoder.fit_transform(bank['y'])
label_encoder.classes_

array(['no', 'yes'], dtype=object)

<h3>SEPARATE X AND Y</h3>

In [17]:
y=bank.y
x=bank[['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed']]

In [18]:
x=pd.get_dummies(x)

<h3>SCALING</h3>

In [19]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit_transform(x)

array([[0.48148148, 0.27272727, 0.33333333, ..., 0.60251046, 0.95737928,
        0.85973535],
       [0.49382716, 0.63636364, 0.33333333, ..., 0.60251046, 0.95737928,
        0.85973535],
       [0.24691358, 0.63636364, 0.33333333, ..., 0.60251046, 0.95737928,
        0.85973535],
       ...,
       [0.48148148, 0.45454545, 0.33333333, ..., 0.        , 0.08932215,
        0.        ],
       [0.33333333, 0.81818182, 0.33333333, ..., 0.        , 0.08932215,
        0.        ],
       [0.7037037 , 0.45454545, 0.33333333, ..., 0.        , 0.08932215,
        0.        ]])

<h3>SPLIT TRAIN AND TEST</h3>

In [20]:
from sklearn.feature_selection import SelectFromModel
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=100)

<h3>RANDOM FOREST</h3>

In [21]:
select=SelectFromModel(RandomForestClassifier(n_estimators = 100))
select.fit(train_x, train_y)
select.get_support()
selected_feat= train_x.columns[(select.get_support())]
len(selected_feat)
selected_feat

Index(['age', 'duration', 'euribor3m', 'nr.employed'], dtype='object')

<h3>LOGISTIC REGRESSION</h3>

In [22]:
from sklearn.linear_model import LogisticRegression as LR
model=LR(random_state=0).fit(train_x,train_y)
print("Train Score =",model.score(train_x,train_y))
print("Test Score =",model.score(test_x,test_y))
score1=model.score(test_x,test_y)
predicted_y=model.predict(test_x)
rmse1=mean_squared_error(test_y,predicted_y, squared=False)

Train Score = 0.9071927162367223
Test Score = 0.907623209516873

<h3>ADABOOST</h3>

In [23]:
from sklearn.ensemble import AdaBoostRegressor
regress=AdaBoostRegressor(random_state=0, n_estimators=100)
regress.fit(train_x, train_y)
score2=regress.score(test_x,test_y)
prdicted_y=regress.predict(test_x)
rmse2=mean_squared_error(test_y,prdicted_y,squared=False)

<h3>NAIVE BAYES</h3>

In [24]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(train_x,train_y)
score3=gnb.score(test_x,test_y)
predicted_y=gnb.predict(test_x)
rmse3=mean_squared_error(test_y,predicted_y,squared=False)

In [25]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in%):",metrics.accuracy_score(test_y,predicted_y)*100)

Gaussian Naive Bayes model accuracy(in%): 84.54722019907744

<h3>KNN</h3>

In [26]:
from sklearn.neighbors import KNeighborsClassifier
classifier= KNeighborsClassifier(n_neighbors=3)
classifier.fit(train_x,train_y)
score4=classifier.score(test_x,test_y)
predicted_y=classifier.predict(test_x)
rmse4=mean_squared_error(test_y,predicted_y,squared=False)

<h3>SVM</h3>

In [27]:
from sklearn import svm
model5=svm.SVC()
model5.fit(train_x,train_y)
score5=model5.score(test_x,test_y)
predicted_y=model5.predict(test_x)
rmse5=mean_squared_error(test_y,predicted_y,squared=False)

<h3>TABULATION</h3>

In [29]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9
Note: you may need to restart the kernel to use updated packages.

In [35]:
from tabulate import tabulate

In [36]:
final_model= [('LogisticRegression',score1,rmse1),
   ('AdaBoost',score2,rmse2),
   ('NaiveBayes',score3,rmse3),
   ('Knn',score4,rmse4),
   ('Svm',score5,rmse5)]

In [39]:
dic={rmse1:score1,rmse2:score2,rmse3:score3,rmse4:score4,rmse5:score5}
max(zip(dic.values(),dic.keys()))

(0.907623209516873, 0.3039355038213321)